
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');


#text{
    position: relative;
    color: #fff;
    font-weight: 700;
    font-size: 12em;
    font-family: Ubuntu;
    line-height: 0.9em;
    letter-spacing: 2px;
    text-align: center;
    transform: rotate(-28deg) skew(25deg);
}

*{
    margin: 0;
    padding: 0;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #f1f1f1;
    overflow: hidden;


}